@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Open Sans";
  font-size: 20px;
  color: #9d959a;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 300px;
  margin-right: 300px;
}

#tim {
  border-radius: 150px;
  border-style: solid;
}

h1 {
  color: #dd5554;
}

header {
  border-radius: 15px;
  padding: 50px;
  background-color: #ffffff;
  text-align: center;
}
h2 {
  color: #757577;
  text-align: center;
}
.bold {
  color: #757577;
  font-weight: bold;
}

#pf {
  text-align: justify;
}

#see {
  margin-top: 20px;
  font-weight: bolder;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  background-color: #dd5555;
}

#reseaux {
  border-radius: 15px;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 50px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ar {
}

#favorites {
  border-radius: 15px;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.movies {
  padding: 50px;
  flex-direction: column;
}

h3 {
  color: #757577;
  text-align: center;
}

.divm {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
}

#his {
  background-color: #d3d3d3;
}

.imgmovies {
  height: 250px;
  float: left;
}
